<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>MyTickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let t of tickets">
    <img src="https://b.fitn.in/f/c/15788/15788_1629807297628.jpg">
    <ion-card-header>
      <ion-card-title>{{t.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{t.description}}
      <div class="ion-padding-vertical">
        <strong>Price: {{t.price}} Credits</strong>
      </div>
      <ion-button expand="block" (click)="showQRCode(t)">Show QR Code</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{selectedTicket.title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenModal(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding ion-text-center">
        <ngx-qrcode
          [elementType]="elementType"
          [errorCorrectionLevel]="correctionLevel"
          [value]="qrCodeValue"
          cssClass="bshadow"></ngx-qrcode>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
