<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-text class="ion-text-center">
      <small class="sub ion-margin-top">Available Credits</small>
      <h2>{{creditsTotal}}</h2>
    </ion-text>
    <form [formGroup]="form" (submit)="onSubmit()">
    <ion-item>
      <ion-input placeholder="Buy Credits" type="number" formControlName="amount"></ion-input>
    </ion-item>
      <ion-item>
        <ion-text class="ion-text-right">
          <span>Price {{price}} €</span>
        </ion-text>
      </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" size="large">Buy</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-list>


</ion-content>
