<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formEmail" (submit)="onSubmit()" *ngIf="! showNewPasswordForm">
    <ion-row>
      <ion-col>
        <app-input-field-email
          name="email"
          label="E-Mail"
          [parent]="formEmail"
        ></app-input-field-email>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <form [formGroup]="formNewPwd" (submit)="onSubmitNewPwd()" *ngIf="showNewPasswordForm">
    <ion-row class="ion-padding">
      <ion-col>
        <small>An email was sent to you containing the recovery code to renew youtr password</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-input-field-pw-confirm
          [parent]="formNewPwd"
          namePwd="password"
          labelPwd="New Password"
          namePwdConfirm="passwordConfirm"
          labelPwdConfirm="Confirm password"
        ></app-input-field-pw-confirm>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-input-field
          [parent]="formNewPwd"
          name="code"
          label="Recovery Code"
        ></app-input-field>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
