<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (submit)="onSubmit()">

    <app-input-field
      name="firstName"
      label="First Name"
      [parent]="form">
    </app-input-field>

    <app-input-field
      name="lastName"
      label="Last Name"
      [parent]="form">
    </app-input-field>


    <app-input-field-email
      name="email"
      label="E-Mail"
      [parent]="form"
    ></app-input-field-email>

    <app-input-field-pw-confirm
      [parent]="form"
      namePwd="password"
      labelPwd="Password"
      namePwdConfirm="passwordConfirm"
      labelPwdConfirm="Confirm password"
    ></app-input-field-pw-confirm>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" size="large">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
