<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngFor="let p of products">
    <img src="https://b.fitn.in/f/c/15788/15788_1629807297628.jpg">
    <ion-card-header>
      <ion-card-title>{{p.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{p.description}}
      <div class="ion-padding-vertical">
        <strong>Price: {{p.price}} Credits</strong>
      </div>
      <ion-button expand="block" (click)="buy(p)">Buy Ticket</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
