<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (submit)="onSubmit()">
    <app-input-field-email
      name="email"
      label="E-Mail"
      [parent]="form"
    ></app-input-field-email>
    <app-input-field
      name="password"
      label="Password"
      [parent]="form"
    ></app-input-field>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" size="large">Sign In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
